[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/TwitVim"]
	path = bundle/TwitVim
	url = http://github.com/vim-scripts/TwitVim.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "bundle/vimroom"]
	path = bundle/vimroom
	url = git://github.com/mikewest/vimroom.git
[submodule "bundle/ack-vim"]
	path = bundle/ack-vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule "bundle/trag"]
	path = bundle/trag
	url = git://github.com/tomtom/trag_vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-ruby-refactoring"]
	path = bundle/vim-ruby-refactoring
	url = git://github.com/ecomba/vim-ruby-refactoring.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = git://github.com/edsono/vim-matchit.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/Color-Sampler-Pack"]
	path = bundle/Color-Sampler-Pack
	url = git://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "bundle/conque"]
	path = bundle/conque
	url = git://github.com/rson/vim-conque.git
[submodule "bundle/groovy-vim"]
	path = bundle/groovy-vim
	url = git://github.com/vim-scripts/groovy.vim--Ruley.git
[submodule "bundle/zoomwin"]
	path = bundle/zoomwin
	url = git://github.com/vim-scripts/ZoomWin.git
[submodule "bundle/conque-term"]
	path = bundle/conque-term
	url = git://github.com/rosenfeld/conque-term.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "bundle/puppet"]
	path = bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "bundle/CamelCaseMotion"]
	path = bundle/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = git://github.com/narkisr/snipmate-snippets.git
[submodule "bundle/vim-align"]
	path = bundle/vim-align
	url = https://github.com/tsaleh/vim-align.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-bufonly"]
	path = bundle/vim-bufonly
	url = https://github.com/duff/vim-bufonly.git
[submodule "bundle/slimv"]
	path = bundle/slimv
	url = https://github.com/vim-scripts/slimv.vim.git
[submodule "bundle/vim-task"]
	path = bundle/vim-task
	url = https://github.com/weierophinney/vim-task.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-pasta"]
	path = bundle/vim-pasta
	url = git://github.com/sickill/vim-pasta.git
[submodule "bundle/paredit"]
	path = bundle/paredit
	url = git://github.com/vim-scripts/paredit.vim.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/auto-tag"]
	path = bundle/auto-tag
	url = git://github.com/vim-scripts/AutoTag.git
[submodule "bundle/vim-golang"]
	path = bundle/vim-golang
	url = git://github.com/jnwhiteh/vim-golang.git
